<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 알림 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" /> <!-- Alarm 정확한 설정 -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" /> <!-- Alarm 재부팅 등록 -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- 다른 앱 위에 그리기 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 사용정보 확인 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" /> <!-- 설치된 모든 앱 불러오기 권한 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!--화면 들어 깨우기-->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" /> <!-- 앱의 목록을 가져오기 위한 쿼리 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="image/jpeg" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FrogDetox"
        tools:targetApi="31">
        <activity
            android:name=".view.detox.GoSleepActivity"
            android:exported="true"
            android:theme="@style/AppTheme.BarColorChange"
            android:screenOrientation="portrait"/>

        <service
            android:name=".view.detox.AccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <activity
            android:name=".view.detox.ScreenSaverActivity"
            android:exported="false"
            android:theme="@style/TransparentTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".view.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".common.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".common.alarm.ScreenSaverReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service android:name=".view.detox.ScreenSaverService" />
        <service
            android:name=".view.detox.OverlayService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>